<div class="my-leave-page">
  <div class="button-container">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Record New Absence
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Action 1</a></li>
      </ul>
    </div>
    <div class="tabs-container">
        <div class="container">
            <ul class="nav nav-tabs nav-justified nav-tabs-header">
                <li role="presentation" class="active">
                    <a href="#report">Report</a>
                </li>
                <li role="presentation">
                    <a href="#calendar">Calendar</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="report" class="tab-pane fade in active">
                    <h3>Report</h3>

                    <div class="container-fluid civi-container">
                        <div class="civi-container__title">
                            Export CSV
                        </div>
                        <div class="civi-separator">
                        </div>
                        <div class="row civi-container__row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                Dates
                            </div>
                            <div class="col-md-2">
                                Status
                            </div>
                            <div class="col-md-1">
                                Vacation
                            </div>
                            <div class="col-md-1">
                                TOIL
                            </div>
                            <div class="col-md-1">
                                Maternity
                            </div>
                            <div class="col-md-1">
                                Sick
                            </div>
                            <div class="col-md-1">
                                Other
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <div class="civi-separator"></div>
                        <div class="civi-grid">
                            <div class="row civi-grid__header ">
                                <div class="col-md-1 civi-grid--open">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-5">
                                    Period Entitlement
                                </div>
                                <div class="col-md-1">
                                    31
                                </div>
                                <div class="col-md-1">
                                    3
                                </div>
                                <div class="col-md-1">
                                    0
                                </div>
                                <div class="col-md-1">
                                    0
                                </div>
                                <div class="col-md-1">
                                    0
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                            <div class="civi-grid__body">

                                <div class="row civi-grid__row--header">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                        Dates
                                    </div>
                                    <div class="col-md-2">
                                        Status
                                    </div>
                                    <div class="col-md-1">
                                        Vacation
                                    </div>
                                    <div class="col-md-1">
                                        TOIL
                                    </div>
                                    <div class="col-md-1">
                                        Maternity
                                    </div>
                                    <div class="col-md-1">
                                        Sick
                                    </div>
                                    <div class="col-md-1">
                                        Other
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                                <div class="civi-separator"></div>
                                <div class="row civi-grid__row">
                                    <div class="col-md-2">
                                        Brought forward (expires 31/3/2016)
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-1">
                                        31
                                    </div>
                                    <div class="col-md-1">
                                        3
                                    </div>
                                    <div class="col-md-1">
                                        0
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                                <div class="civi-separator"></div>
                                <div class="row civi-grid__row">
                                    <div class="col-md-2">
                                        Leave
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-1">
                                        20
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div id="calendar" class="tab-pane fade">
                    <h3>Calendar</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //This script is kept here which will later move to Angular Code
  jQuery(document).ready(function () {
    jQuery(".nav-tabs a").click(function () {
      jQuery(this).tab('show');
    });
  });
</script>
