/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25-Feb-2015, 13:06:55
    Author     : gergelymeszaros
*/

.view-absence-list .views-field,
.view-absence-list th {
  width: 15%;
}

.view-absence-list > .view-content {
  margin: 0 -20px;
}

.table-editable {
  width: auto;
  position: relative;

 .glyphicon {
    font-size: 20px;
 }
}

.table-remove {
  color: #700;
  cursor: pointer;

  & :hover {
    color: #f00;
  }
}

.table-up,
.table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}

/* Appraisals temporary styling. TODO: move to scss Theme files. */
#civihr-employee-portal-appraisal-manager-form #drop-target {
  box-shadow: none;
  background-color: #E8EEF0;
  border: 1px dashed #727E8A;
  color: #525966;
}

#civihr-employee-portal-appraisal-manager-form .col-index {
  width: 5%;
}

#civihr-employee-portal-appraisal-manager-form .col-name {
  width: 50%;
}

#civihr-employee-portal-appraisal-manager-form .drop-zone {
  margin: 10px 0;
  padding: 30px;
}

#civihr-employee-portal-appraisal-manager-form .help-block {
  clear: left;
  font-size: 12px;
  float: left;
}

#civihr-employee-portal-appraisal-manager-form .form-type-date-popup {
  width: 100%;
}

#civihr-employee-portal-appraisal-manager-form .date-padding {
  padding: 0;
}

#civihr-employee-portal-appraisal-manager-form .table-upload {
  table-layout: fixed;
}

#civihr-employee-portal-appraisal-manager-form .col-index {
  width: 60px;
}

#civihr-employee-portal-appraisal-manager-form .col-name {
  width: 45%;
}

#civihr-employee-portal-appraisal-manager-form .col-size {
  width: 95px;
}

#civihr-employee-portal-appraisal-manager-form .col-action {
  width: 130px;
}

#civihr-employee-portal-appraisal-manager-form td {
  overflow: hidden;
  text-overflow: ellipsis;
}

div.appraisals-manager-chart {
  margin-bottom: 28px;
}

div.appraisals-manager-chart .grade {
  font-size: 74px;
}

span.appraisals-employee-legend {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 8px;
}

.report-filters .btn-report-date-filter {
  float: none;
}

.report-tabs {
  display: table;
  margin-top: 12px;
}

.report-tabs.nav-tabs.nav-justified > li {
  width: 15%;
  white-space: nowrap;
}

.report-tabs.nav-justified > li:first-child {
  width: 85%;
}

.report-content {
  margin-top: 12px;
}

#reportTable form {
  display: none;
}

.datepicker-popup td,
.datepicker-popup th {
  padding: 0;
}

#reportPivotTableConfiguration {
  padding: 10px 20px;
  margin-top: 12px;
}

#reportPivotTableConfiguration .form-item {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.view-id-hr_resource_types_list .add-button {
  margin-bottom: 20px;
}

.view-id-hr_resource_types_list .add-button-icon {
  margin-right: 10px;
}

#reportPivotTable .report-filters,
#reportPivotTable .report-function {
  position: relative;
}

#reportPivotTable .report-function-group .pvtVals {
  padding-left: 0;
  padding-right: 0;
}

#reportPivotTable .report-function-group .pvtAttrDropdown {
  margin-top: 0;
}

#reportPivotTable .report-filters .panel-body {
  background: none;
}

#reportPivotTable .report-function {
  padding-top: 20px;
}

#civihrReports .report-block,
#reportPivotTable .report-function,
#reportPivotTable #report-filters,
#reportPivotTable .report-fields-selection table,
#reportPivotTable .report-field-rows table,
#reportPivotTable .report-field-columns table {
  border: 1px solid #c3cbd6;
}

#reportPivotTable .pvtAxisContainer,
#reportPivotTable .report-fields-selection tbody {
  border: none;
}

#reportPivotTable .pvtAxisContainer {
  transition: background 0.4s ease;
}

#reportPivotTable .pvtAxisContainer.highlight {
  background: #fbfbfc;
}

#reportPivotTable .row {
  display: table;
  margin-bottom: 15px;
}

#reportPivotTable .row:last-child {
  margin-bottom: 0;
}

#reportPivotTable .row > [class*="col-"] {
  display: table-cell;
  float: none;
  vertical-align: top;
}

#reportPivotTable .report-field-columns {
  position: relative;
}

#reportPivotTable .report-field-columns table {
  bottom: 0;
  min-height: 80px;
  position: absolute;
  width: calc(100% - 30px);
}

#reportPivotTable .report-fields-selection table {
  display: block;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

#reportPivotTable .report-fields-selection table li {
  margin-bottom: 5px;
  width: 100%;
}

#reportPivotTable .report-fields-selection table li span.pvtAttr,
#reportPivotTable .report-field-rows table li span.pvtAttr {
  height: auto;
  line-height: 1.2em;
  padding: 8px 20px 8px 15px;
  position: relative;
  white-space: normal;
  width: 100%;
}

#reportPivotTable .report-fields-selection table li span.pvtTriangle,
#reportPivotTable .report-field-rows table li span.pvtTriangle {
  position: absolute;
  top: calc(50% - 1px);
  right: 10px;
}

#reportPivotTable .report-field-rows,
#reportPivotTable .pvtRendererArea {
  padding: 0;
}

#reportPivotTable .report-field-rows table {
  min-height: 50vh;
}

#reportPivotTable [uib-datepicker-popup-wrap] table {
  margin: 0;
}

#reportPivotTable table.uib-daypicker tbody td {
  padding: 7px 0;
}

#footer {
  height: 250px;
  color: #727e8a;
  padding-top: 85px;
  font-size: 13px;
  line-height: 2;
}

#footer a {
  color: #42afcb;
}

#footer a:hover {
  color: #42afcb;
}

#footer a:visited {
  color: #42afcb;
}

.footer-logo {
  margin-top: 25px;
}

/**
 * 768px correspond to the small devices and tablets breakpoint from bootstrap:
 * https://getbootstrap.com/docs/3.3/css/#grid-options
 */
@media (max-width: 768px) {
  .report-tabs.nav-tabs.nav-justified > li {
    width: 100%;
  }
}
