/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2015, 13:06:55
    Author     : gergelymeszaros
*/

.view-absence-list .views-field, .view-absence-list th {
    width: 15%;
}

/**
 * Report styles
 */

#custom-report-details {
    height: auto !important;
}

.btn-reports {
    display: block;
    margin: 2px;
    width: 100px;
}

#custom-report-details .view {
    margin: 0px;
}

.report-x-filters {
    margin-left: 10%;
    margin-right: 10%;
}

.header-export {
    padding: 5px;
    background-color: #41AFCB;
    color: #FFF;
    border-bottom: 10px solid #ECEDEE;
}

.custom-data-block {
    background: #fff;
    margin: 0 0 30px 0;
}

.view-all-roles {
    padding: 0px !important;
}

.view-all-roles .table-responsive {
    margin: 0px;
}

@media screen and (max-width: 991px) {
    .report-type {
        margin-left: 10%;
        margin-right: 10%;
    }
}
